<p id="notice"><%= notice %></p>

<h1>States</h1>

  <div class="panel panel-default">
    <% @states.each do |state| %>
      <div class="panel-heading">
        <h2><%= state.name %></h2>
      </div>
      <div class="panel-body">
        <p>Capital: <%= state.capital %></p>
        <p>Population: <%= state.population %></p>
        <%= link_to 'Show', state, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_state_path(state), class: "btn btn-primary" %>
        <%= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>

<%= link_to 'New State', new_state_path, class: "btn btn-primary btn-lg" %>
