<p id="notice"><%= notice %></p>

<h1>Destinations</h1>

<div class="panel panel-default">
    <% @destinations.each do |destination| %>
      <div class="panel-heading">
        <h2><%= destination.city %></h2>
      </div>
      <div class="panel-body">
        <p>Country: <%= destination.country %></p>
        <p>Description: <%= destination.desription %></p>
        <%= link_to 'Show', destination, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_destination_path(destination), class: "btn btn-primary" %>
        <%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    <% end %>
</div>

<br>

<%= link_to 'New Destination', new_destination_path, class: "btn btn-primary btn-lg" %>
