<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<div class="panel panel-default">
    <% @activities.each do |activity| %>
      <div class="panel-heading">
        <h2><%= activity.name %></h2>
      </div>
      <div class="panel-body">
        <p>Cost: $<%= activity.cost %></p>
        <p>Duration: <%= activity.duration %></p>
        <%= link_to 'Show', activity, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_activity_path(activity), class: "btn btn-primary" %>
        <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    <% end %>
</div>

<br>

<%= link_to 'New Activity', new_activity_path, class: "btn btn-primary btn-lg" %>
